*{
  font-family: 'Inconsolata', monospace;
}

.Card{
  width: 376px;
  height: 319px;
  border-radius: 20px;
  text-align: center;
  background: var(--white);
  color: var(--light-green);


    .Title{
            display: flex;
        flex-direction: column;
        p{
          margin-top: 1.5rem;
        }

        .data{
          text-align: center;
          p{
            margin-top: 3rem;
            font-size: 9rem;
      
            letter-spacing: 1px;
            span{
              font-size: 2rem;
            }
          }
        }
    }
}
